body {
    direction:rtl;
    background-color:azure;
    margin-left:50px;
    margin-right:50px;
}
h1{
   color:blue;
   font-style:italic;
   font-size:50pt;
}
table{
  border:2px solid black;
  width:100%;
  border-collapse:collapse;
  text-align: center;
}
body {
    direction: rtl;
    background-color: azure;
    margin-left: 50px;
    margin-right: 50px;
}
body {
    direction:rtl;
}
th {
    border:2px solid black;
}
td {
    border:2px solid black;
}
.math {
    background-color: cyan;
}
.tanach {
    background-color: saddlebrown;
}
.mdm {
    background-color: red;
}
.hebrew {
    background-color: deeppink;
}
.safrot {
    background-color: purple;
}
.physics {
    background-color:aquamarine;
}
.english {
    background-color: green;
}
.history {
    background-color:bisque;
}
.hng {
    background-color: grey;
}